<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ksfc.newfarmer"
    android:versionCode="17"
    android:versionName="2.3.1">
    <!-- app本身及友盟需要的权限 -->

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--友盟社会化分享 权限-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />

    <!--友盟推送权限 必选 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 银联sdk3.3.2新加权限-->
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc.hce" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />


    <application
        android:name="com.ksfc.newfarmer.RndApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme">

        <activity
            android:name=".activitys.SplashActivity"
            android:theme="@style/SplashActivity_theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--deep share-->
            <intent-filter>
                <data
                    android:host="com.ksfc.newfarmer"
                    android:scheme="ds363ebd292023cc28" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <!-- 主界面 -->
        <activity
            android:name=".activitys.MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />
        <!-- 首界面 -->
        <activity android:name=".activitys.HomepageActivity" />
        <!-- 引导页 -->
        <activity android:name=".activitys.GuideActivity" />
        <!-- 我的订单详情 -->
        <activity
            android:name=".activitys.MyOrderDetailActivity"
            android:launchMode="singleTask" />
        <!-- 我的 -->
        <activity android:name=".activitys.MineActivity" />
        <!-- 商品详情 -->
        <activity
            android:name=".activitys.GoodsDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustResize" />
        <!-- 商品详情的大图 -->
        <!--android:process=":picture"-->
        <activity
            android:name=".activitys.BigImageActivity"
            android:theme="@style/Theme.Transparent" />
        <!-- 用户协议 -->
        <activity android:name=".activitys.AgreeMentActivity" />
        <!-- 我的账户 -->
        <activity android:name=".activitys.MyaccountActivity" />
        <!-- 输入姓名 -->
        <activity android:name=".activitys.ChooseNameActivity" />
        <!-- 选择照片 -->
        <activity android:name=".activitys.ChoicePicActivity" />
        <!-- 地址管理 -->
        <activity android:name=".activitys.AddressmanageActivity" />
        <!-- 地址选择列表 -->
        <activity android:name=".activitys.SelectAddressActivity" />
        <!-- 选择收货地址 -->
        <activity android:name=".activitys.ChooseAddressActivity" />
        <!-- 登录 -->
        <activity
            android:name=".activitys.LoginActivity"
            android:launchMode="singleTask" />
        <!-- 注册 -->
        <activity
            android:name=".activitys.RegisterActivity"
            android:launchMode="singleTask" />
        <!-- 找回密码 -->
        <activity android:name=".activitys.RetrievePasswordActivity" />
        <!-- 支付方式 -->
        <activity android:name=".activitys.PaywayActivity" />

        <!-- 订单成功 -->
        <activity android:name=".activitys.OrderSuccessActivity" />
        <!-- 系统设置 -->
        <activity android:name=".activitys.SettingActivity" />
        <!-- 待付款 -->
        <activity android:name=".activitys.MyOrderListActivity" />
        <!-- 订单信息 -->
        <activity android:name=".activitys.AddOrderActivity" />
        <!-- 修改密码 -->
        <activity android:name=".activitys.ChangePasswordActivity" />
        <!-- 新增地址 -->
        <activity android:name=".activitys.AddAddressActivity" />
        <!-- 购物车 -->
        <activity android:name=".activitys.ShoppingCartActivity" />
        <!-- 修改地址 -->
        <activity android:name=".activitys.UpdateAddressActivity" />
        <!-- 新农资讯 -->
        <activity android:name=".activitys.NewFarmerInformationActivity" />
        <!-- 资讯详情 -->
        <activity android:name=".activitys.ArticleActivity" />
        <!-- 商品类目页 -->
        <activity android:name=".activitys.GoodsListActivity" />
        <!-- 完善用户信息页 -->
        <activity android:name=".activitys.ImprovePersonActivity" />
        <!-- 修改所在地区 -->
        <activity android:name=".activitys.ChoiceHomeAddress" />
        <!-- 修改真实姓名 -->
        <activity android:name=".activitys.ChoiceTrueNameActivity" />
        <!-- 选择用户类型 -->
        <activity android:name=".activitys.SelectUserTypeActivity" />
        <!-- 客户订单 -->
        <activity android:name=".activitys.ConsumerOrderActivity" />
        <!-- 关于我们 -->
        <activity android:name=".activitys.AboutUsActivity" />
        <!-- 选择支付订单 -->
        <activity android:name=".activitys.SelectPayOrderActivity" />
        <!-- 查看支付详情 -->
        <activity android:name=".activitys.CheckPayDetailActivity" />
        <!-- 添加潜在客户 -->
        <activity android:name=".activitys.AddPotentialActivity" />
        <!-- 选择意向商品 -->
        <activity android:name=".activitys.SelectIntentProductActivity" />
        <!-- 客户详情 -->
        <activity android:name=".activitys.CustomerDetailActivity" />
        <!-- 申请县级网店认证 -->
        <activity android:name=".activitys.CertifiedRSCActivity" />
        <!-- 选择自提网点 -->
        <activity android:name=".activitys.SelectDeliveriesStateActivity" />
        <!-- 选择自提收货人 -->
        <activity
            android:name=".activitys.SelectDeliveriesPersonActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <!-- 全名付Epos -->
        <activity android:name=".activitys.EposActivity" />
        <!-- 线下支付 -->
        <activity android:name=".activitys.OfflinePayActivity" />

        <!-- 网点自提 -->
        <activity android:name=".activitys.PickUpStateActivity" />
        <!-- 服务站订单 -->
        <activity
            android:name=".activitys.RSCOrderListActivity"
            android:windowSoftInputMode="adjustResize" />
        <!-- 服务站订单详情 -->
        <activity
            android:name=".activitys.RscOrderDetailActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />
        <!-- 服务站订单搜索 -->
        <activity
            android:name=".activitys.RscSearchOrderActivity"
            android:windowSoftInputMode="adjustResize" />
        <!-- 新农邀请 -->
        <activity
            android:name=".activitys.NewFramerInviteActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!-- 新农邀请搜索客户 -->
        <activity
            android:name=".activitys.InviterSearchActivity"
            android:windowSoftInputMode="adjustResize" />
        <!-- 用户订单状态 -->
        <activity android:name=".activitys.MyOrderStateDetailActivity" />
        <!-- Epos刷卡网点 -->
        <activity android:name=".activitys.EposSlotCardStateActivity" />
        <!-- 浮层页 -->
        <activity
            android:name=".activitys.FloatingLayerActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Transparent" />
        <!-- 积分商城 -->
        <activity
            android:name=".activitys.RewardShopActivity"
            android:launchMode="singleTask" />
        <!--积分商城 礼品详情 -->
        <activity android:name=".activitys.GiftDetailActivity" />
        <!--积分商城 提交兑换 -->
        <activity android:name=".activitys.RewardGiftSubmitActivity" />
        <!--积分商城 我的积分 -->
        <activity android:name=".activitys.MyRewardActivity" />
        <!--积分商城 兑换成功 -->
        <activity android:name=".activitys.ExchangeSuccessActivity" />
        <!--积分商城 兑换记录 -->
        <activity android:name=".activitys.ExchangeRecordActivity" />
        <!--积分商城 积分规则 -->
        <activity android:name=".activitys.RewardRulesActivity" />
        <!--订单搜索 Rsc兑换订单 -->
        <activity android:name=".activitys.RscSearchGiftOrderActivity" />
        <!--活动页 活动详情 -->
        <activity android:name=".activitys.CampaignDetailActivity" />

        <!--图片裁剪-->
        <activity
            android:theme="@style/CustomTheme"
            android:name="com.soundcloud.android.crop.CropImageActivity" />

        <!-- 支付宝-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />

        <!-- 银联 -->
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.unionpay.UPPayWapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />


        <!-- umeng appkey   android:value="564d588ce0f55a25e9003ec7"
        android:value="YOUR_APPKEY"
        -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="YOUR_APPKEY" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="03dd5a49bb79a65290b928d06d4a5cef" />


        <!-- 以下是友盟推送的广播-->

        <!-- 监听通知点击或者忽略处理的广播 -->
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false" />

        <!-- 监听开机运行、网络连接变化、卸载的广播 -->
        <receiver
            android:name="com.umeng.message.SystemReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- 监听消息到达的广播 -->
        <receiver
            android:name="com.umeng.message.MessageReceiver"
            android:exported="false"
            android:process=":push">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </receiver>

        <!-- 监听宿主选举的广播 -->
        <receiver
            android:name="com.umeng.message.ElectionReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_RESULT_V4" />
                <category android:name="umeng" />
            </intent-filter>
        </receiver>

        <!-- 监听注册的广播 -->
        <!-- 【应用包名】字符串需要替换成本应用的应用包名 -->
        <receiver
            android:name="com.umeng.message.RegistrationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.ksfc.newfarmer.intent.action.COMMAND" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.UmengMessageBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


        <!--  可以根据需要自行设置 android:label 中的服务名 ： -->
        <!-- Umeng的长连服务，用来建立推送的长连接的 -->
        <!-- 【应用包名】字符串需要替换成本应用的应用包名 -->
        <service
            android:name="com.umeng.message.UmengService"
            android:exported="true"
            android:label="PushService"
            android:process=":push">
            <intent-filter>
                <action android:name="com.ksfc.newfarmer.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.ksfc.newfarmer.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING_V4" />
                <category android:name="umeng" />
            </intent-filter>
        </service>

        <!-- Umeng的消息接收服务 -->
        <service
            android:name="com.umeng.message.UmengIntentService"
            android:process=":push" />

        <!-- Umeng的消息路由服务 -->
        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:exported="true"
            android:process=":push">
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.android.agoo.client.ElectionReceiverService" />
            </intent-filter>
        </service>

        <!-- v2.4.1添加的Service，Umeng的消息接收后的处理服务 -->
        <service
            android:name="com.umeng.message.UmengMessageCallbackHandlerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.umeng.messge.registercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.unregistercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.handler.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.autoupdate.handler.action" />
            </intent-filter>
        </service>

        <!-- V1.3.0添加的service，负责下载通知的资源 -->
        <service android:name="com.umeng.message.UmengDownloadResourceService" />
        <!-- 社会化分享-->
        <!--增加一个activity-->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />
        <!--微信平台-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--QQ、Qzone-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1104752635" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>

</manifest>